:root {
    --primary: #ff611d;
    --secondary: #ffdcd7;
}

.landing {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.landing img {
    height: 30vh;
    margin-top: 10vh;
    width: auto;
}


.landing h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 4vh 0 2vh;
}

.landing p {
    font-family: 'Roboto', sans-serif;
    margin: 1vh 0vw 4vh 0vw;
    font-size: 1.1;
}

.landing .joined {
    align-items: center;
    bottom: 2vh;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 80%;
}

.landing button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    padding: 1vh 0;
}

.landing .primary {
    background-color: var(--primary);
    color: white;
}

.landing .secondary {
    background-color: var(--secondary);
    color: var(--primary);
}

.landing .joined {
    text-align: center;
}